/*-------------clear default margin,padding by bowser------*/
*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #445364;
}

/* -------------heading style---------------- */
.heading{
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    background-color: lightgreen;
    height: 80px;
}

/*-------------quizlayout----------------------*/ 
.quiz-container {
    background-color: #fff;
    height: 353px;
}

#question{
    padding: 16px 16px;
    text-align: center;
    color: blue;
    font-size: 25px;
}