/*-------------clear default margin,padding by bowser------*/
*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #445364;
}

/* -------------heading style---------------- */
.heading{
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    background-color: lightgreen;
    height: 80px;
}

/*-------------quizlayout----------------------*/ 
.quiz-container {
    background-color: #fff;
    height: 353px;
}

#question{
    padding: 16px 16px;
    text-align: center;
    color: blue;
    font-size: 25px;
}

ul{
    list-style-type: none;
    padding: 0;
}

label{
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
}

ul li{
    background-color: #e7e9eb;
    padding: 10px 10px ;
    margin-bottom: 3px;
    font-size: 20px;
}

ul li:hover{
    border: solid 1px black;
}

ul li:hover{
    
    background-color: #fff;
}

/*------------------------buttons------*/
button{
    background-color: green;
    color: #fff;
    border-color: grey;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    height: 50px;
}

.btn-active{
    margin-bottom: 3px;
    font-size: 20px;
    padding: 10px 10px;
    height: 48px;
    border: solid 1px slategray;
}

button:hover{
    background-color: slategrey;
}

footer{
    font-size: 15px;
    color: black ;
    padding: 5px 5px;
    background-color: chocolate;
    height: 80px;
    margin: auto;
}

h3, p{
    padding: 5px 5px;
}

.wrapper {  
    height: 520px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*--------------------Media query-------- */

@media screen and (max-width: 535px){
    .quiz-container{
        height: 383px;
    }
    footer{
        height: 120px;
    }
}

@media screen and (max-width: 425px){
    .wrapper {
        height: 530px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .heading{
        margin-top: 15px;
    }

    .quiz-container{
        height: 383px;
    }

    footer{
        height: 150px;
    }
}

@media screen and (max-width: 414px){
    .wrapper {
        height: 650px;
        margin-top: auto;
        margin-bottom: auto;
    }       
    
    .heading{
        margin-top: 100px;
    }
    
    .quiz-container{
        height: 383px;
    }

    footer{
        height: 160px;
        margin: auto;
    }

    #question{
        padding-top: 0;
        width: 90%;
        height: 76px;
    }
}

@media screen and (max-width: 375px){
    .quiz-container{
        height: 370px;
    }
    
    .heading{
        margin-top: 30px;
        font-size: 25px;
    }

    #question{
        width: 90%;
        font-size: 22px;
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
    }

    ul li{
        margin-bottom: 3px;
    }
    
    footer{
        height: 150px;
    }
}

@media screen and (max-width: 363px){
    #question{
        text-align: left;
        width: 90%;
    }
}
@media screen and (max-width: 337px){
    .quiz-container{
        height: 382px;
    }
    
    #question{
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 343px){
    .heading{
        font-size: 25px;
    }
    
    #question{
        width: 90%;
        text-align: left;
    }
}

@media screen and (max-width: 322px){
    .wrapper {
         height: 600px;
         margin-top: auto;
         margin-bottom: auto;
    }
 
    .heading{
         height: 50px;
         line-height: 50px;
         font-size: 25px;
         margin-top: 50px;
    }
    
    .quiz-container{
         height: 370px;
    }
    
    #question{
         font-size: 20px;
         width: 90% ;
         height: 80px;
    }
 
    footer{
         height: 150px;
         margin: auto;
    }
}

@media screen and (max-width: 303px){
    #question{
        width: 100%;
        text-align: left;
    }
}

/*-------smaller device like galaxy fold*/
@media screen and (max-width: 292px){
    .quiz-container{
        height: 370px;
    }
    
    .heading{
        height: 60px;
        line-height: 30px;
        margin-top: 30px;
    }
    
    #question{
        text-align: left;
        width: 90%;
        font-size: 20px;
    }
    
    footer{
        height: 160px;
    }
}